*{
    margin: 0;
    padding: 0;
    font-family: "Century Schoolbook L";
}
.banner{
    width: 100%;
    height: 100vh;
   background-color: lightskyblue;
    background-size: cover;
    background-position: center;

}
.navbar{
    width: 90%;
    margin : auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin:  0 20px;
}
.navbar ul li a{
    text-decoration: none;
   color: indianred;
    text-transform: uppercase;
    font-size: 25px;

}
.content.par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1 {
    font-family: "Abyssinica SIL";
    font-size: 70px;
    padding-left: 50px;
    margin-top: 9px;
}
.content .cn{
    width: 100px;
    height: 40px;
    background-color: chartreuse;
    border: none;
    margin-bottom: 30px;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 5px;
}
.content .cn a{
    text-decoration: none;
    color: black;
}
.content .cn:hover {
    background-color: white;
}
.content span{
    color: black;
    font-size: 60px;
}
.form{
    width: 250px;
    height: 350px;
    background-color: crimson;
    position: absolute;
    top: 25px;
    left: 950px;
    border-radius: 10px;
    padding-left: 25px;

}
.form h2{
    width: 200px;
    font-family: Chandas;
    text-align: center;
    color: black;
    font-size: 18px;
    background-color: white;
    border: 10px;
    margin: 5px;
    padding: 2px;

}
.form input{
    width: 240px;
    height: 35px;
    background-color:transparent;
    border-radius: 10px;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-family: Chandas;

}
.form input:focus{
    outline: none;

}
::placeholder{
    color: white;
    font-family: sans-serif;
}
.btn{
    width: 240px;
    height: 20px;
    background: lightgray;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
.btn:hover{
    background: white;

}
.btn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.form .link{
    font-family: sans-serif;
    font-size: 12px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{

    text-decoration: none;
    color: black;

}