.banner{
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 10px;
    width: 350px;
    height: 70vh;
}
body{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400vh;
}
.banner h1{
    font-family: Chandas;
    color: blue;
    text-align: center;
    text-decoration: underline;
}
.banner input{
    width: 70%;
    position: relative;
    margin: 10px; 20px;
    height: 20px;
    border: none;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    background: transparent;
    padding: 1px;
}
.button{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    .banner label{
        margin: 10px 20px;
    }

}
.button{
    padding: 10px; 20px
    width: 330px;
    color: white;
    background-color: blueviolet;
    border-radius: 10px;

}
